@import '~@vzamboni/dashboard-ui-style/vars/colors';

.finance__period-selector__select {
    border: none;
    border-bottom: 1px solid $grey-light;
    background-color: $grey-light-l2;
    margin: 0 8px;
    width: 100px;
}